.App {
  text-align: center;
}

.App-logo {
  height: 200px;
  pointer-events: none;
  background-color: white;
  padding: 10px;
}

.MuiTextField{
  background-color: #FFFFFF;
}

.MuiButton{
  background-color: #FFFFFF;
}

.App-header {
  background-color:#e8b5b9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-decoration: underline;
}

.App-link {
  color: #E8B5B9;
}

.HideShowButtons-hide{
  visibility: hidden;
}

